.page-header {
    background-color: darkblue;
}

.page-header h1 {
    color: whitesmoke;
    padding: 40px;
}

.blue {
    background-color: lightblue;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.container {
    padding-top: 100px;
    max-width: 80%
}

.col-md-12 {
    padding: 0px;
}

.form-control {
    //width: 100%;
}

.btn-primary {
    //width = 50%;
}