.page-header {
    background-color: darkblue;
}

.page-header h1 {
    color: whitesmoke;
    padding: 40px;
}

.blue {
    background-color: lightblue;
    width: 200px;
    height: 200px;
}

.container {
    padding-top: 100px;
    max-width: 80%
}

.col-md-12 {
    padding: 0px;
}