.page-header {
    background-color: darkblue;
}

.page-header h1 {
    color: whitesmoke;
    padding: 40px;
}

.blue {
    background-color: lightblue;
    
}

.container {
    padding-top: 100px;
    max-width: 80%
}

.col-md-12 {
    padding: 0px;
}

.form-control {
    //width: 66%;
}

.btn-primary {
    //width = 50%;
}